<table class="table table-hover table-sortable">
    <thead>
        <tr>
            <th>#</th>
            <th>客户手机号</th>
            <th>销售手机号</th>
            <th>扫码时间</th>
        </tr>
    </thead>
    <tbody>
        <% clients.forEach (function (client){ %>
            <tr>
                <td class="table-id" data-sort-value="<%=client.mobileNumber%>">#

                </td>
                <td class="table-title">
                    <%= client.get('mobileNumber')%>
                </td>
                <td class="table-status">
                 <%= client.get('salesman').get('mobileNumber')%>
                </td>

                <td class="table-status">
                   <%= moment(client.updatedAt).fromNow() %>
                </td>
            </tr>
            <% }) %>
    </tbody>
</table>
